

<nav class="navbar bg-body-tertiary me-2">
  <div class="d-flex align-items-center justify-content-start">
    <a class="navbar-brand" href="/">ExpressPractice</a>
    <div class="">
      <ul class="navbar-nav d-flex flex-row justify-content-start">
        <li class="nav-item p-2">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item p-2">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
